@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Ubuntu";
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    padding: 0 0 1rem 1rem;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: black;
}

#content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

nav {
    border: 1px solid black;
    font-size: 1.5rem;
}

nav > ul {
    display: flex;
    padding-right: 3.5rem;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    gap: 8px;
}

#login-form > .field {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

article {
    width: 90%;
    padding: 12px;
    border: 1px solid black;
    display: inline-block;
}

#row {
    display: flex;
    justify-content: space-between;
}

#midias {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

#midias > img {
    border: 2px solid black;
}

@media only screen and (max-width: 600px) {
    #content {
        flex-direction: column;
    }
}
